<section class="cognitiveServices-section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Computer Vision API</h3>
        </div>
        <div class="panel-body">
            <div>
                <img class="image-loading" src="../../../Content/ImageProcessingPipeline/ajax-loader.gif" alt="ComputerVision-data" />
                <ul id="CognitiveServicesData"></ul>
            </div>
        </div>
    </div>
</section>
