<section class="exif-section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">EXIF</h3>
        </div>
        <div class="panel-body">
            <div>
                <img class="image-loading" src="../../../Content/ImageProcessingPipeline/ajax-loader.gif" alt="Exif-data" />
                <ul id="ExifData"></ul>
            </div>
        </div>
    </div>
</section>
