<section class="original-section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Original</h3>
        </div>
        <div class="panel-body">
            <img id="OriginalImage" alt="Original image" />
        </div>
    </div>
</section>
