<section class="scaled-section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Scaled</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group container-flex">
                <li class="list-group-item">
                    <div>
                        <b class="list-group-item-heading">Large</b>
                        <br /><br />
                        <p class="list-group-item-text"><img id="image-scaled-lg" src="../../../Content/ImageProcessingPipeline/ajax-loader.gif" alt="Scaled large image" /></p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <b class="list-group-item-heading">Medium</b>
                        <br /><br />
                        <p class="list-group-item-text"><img id="image-scaled-md" src="../../../Content/ImageProcessingPipeline/ajax-loader.gif" alt="Scaled medium image" /></p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <b class="list-group-item-heading">Small</b>
                        <br /><br />
                        <p class="list-group-item-text"><img id="image-scaled-sm" src="../../../Content/ImageProcessingPipeline/ajax-loader.gif" alt="Scaled small image" /></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
