@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Image Pipeline</h1>
    <p class="lead">An image processing pipeline powered by Azure Functions</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Get started &raquo;</a></p>
</div>
